{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <article class="mx-4">
        <header class='my-6 md:my-12 lg:my-24 container mx-auto'>
            {% include "components/navigation/breadcrumbs.html" with page=page %}
            <h1 class='text-3xl sm:text-4xl lg:text-6xl mb-4 font-extrabold'>{{ page.title }}</h1>
            <p>{{ page.page_introduction }}</p>
        </header>
        <main class="container mx-auto">
            <div class='flex flex-col sm:flex-row sm:justify-between sm:items-center mb-4 gap-4'>
                <h2 class='text-2xl sm:text-3xl lg:text-4xl font-bold'>Derniers ajouts</h2>
                <form class='flex gap-2'>
                    <label class="input">
                        <svg class="h-[1em] opacity-50"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.3-4.3"></path>
                            </g>
                        </svg>
                        <input type="search"
                               name='search'
                               placeholder="Rechercher une ressource"
                               value='{{ request.GET.search|default:"" }}' />
                    </label>
                </form>
            </div>
            <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4'>
                {% for pedagogy_entry in pedagogy_entries %}
                    <a href='{{ pedagogy_entry.url }}'
                       class="card bg-base-100 w-full shadow-sm hover:shadow-md transition-shadow duration-100">
                        <figure>
                            {% image pedagogy_entry.hero_image fill-400x250 alt=pedagogy_entry.title class="w-full h-48 object-cover" %}
                        </figure>
                        <div class="card-body">
                            <h3 class="card-title">{{ pedagogy_entry.title }}</h3>
                            <p>{{ pedagogy_entry.description }}</p>
                            <div class="card-actions justify-end mt-4">
                                <button class="btn btn-primary">Voir plus</button>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <div class='min-h-64 flex items-center justify-center col-span-1 md:col-span-2 lg:col-span-3'>
                        <p>Aucune ressource pédagogique trouvée</p>
                    </div>
                {% endfor %}
            </div>
            {% include "components/navigation/pagination.html" with page_data=pedagogy_entries %}
            <article>{{ page.content|richtext }}</article>
        </main>
    </article>
{% endblock content %}
