version: 2

updates:
  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
        npm-deps:
            patterns:
            - "*"

  # Maintain dependencies for uv
  # https://github.com/astral-sh/uv/issues/2512
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
        uv-deps:
            patterns:
            - "*"

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
        actions-deps:
            patterns:
            - "*"
