{% load i18n %}
<geojson-map-input data-config="{{ map_config }}" {% if reference %}data-reference="{{ reference }}"{% endif %}>
    <div class="geojson-map-input__search" data-search>
        {% if city_name %}
            {% blocktrans trimmed asvar search_label %}Search an address in {{ city_name }}{% endblocktrans %}
        {% else %}
            {% trans "Search an address" as search_label %}
        {% endif %}
        <input
            type="search"
            class="geojson-map-input__search-input"
            placeholder="{{ search_label }}"
            aria-label="{{ search_label }}"
            autocomplete="off"
        >
    </div>
    <div data-map class="geojson-map-input__map"></div>
    <p class="help">{{ help }}</p>
    <textarea name="{{ widget.name }}" hidden {% include "django/forms/widgets/attrs.html" %}
    >{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
</geojson-map-input>
