{% load i18n %}

{% with external_links=page.external_links.all %}
    {% if external_links %}
        <div class="flex flex-wrap justify-center gap-3 mt-4 {{ class|default:"" }}">
            {% for link in external_links %}
                <div class="tooltip" {% if link.tooltip %}data-tip="{{ link.tooltip }}"{% endif %}>
                    <a
                        href="{{ link.url }}"
                        class="btn btn-secondary btn-sm text-nowrap link-external"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        {{ link.title }}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
