{% extends "wagtailadmin/base.html" %}
{% load static %}

{% block branding_logo %}
    <div style="display: flex; flex-direction: column; align-items: center; gap: 0.5rem; background: white; padding: 0.5rem 0.5rem; border-radius: 0.5rem">
        <img src="{% static 'images/favicon.svg' %}" alt="{{ website_name }}" width="80">
    </div>
{% endblock %}

{% block branding_favicon %}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/wagtail_overrides.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        document.documentElement.setAttribute("data-theme", "light");
    </script>
{% endblock %}
