@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(0.637 0.194 31.558);
  --color-primary-content: oklch(0.987 0.017 264.577);
  --color-secondary: oklch(0.614 0.07 163.866);
  --color-secondary-content: oklch(0.987 0.017 264.577);
  --color-accent: oklch(0.592 0.122 325.659);
  --color-accent-content: oklch(0.987 0.017 264.577);
  --color-neutral: oklch(0.224 0.04 261.538);
  --color-neutral-content: oklch(0.957 0.017 264.577);
  --color-base-100: oklch(0.989 0.003 219.532);
  --color-base-200: oklch(0.954 0.012 264.51);
  --color-base-300: oklch(0.912 0.012 264.508);
  --color-base-content: oklch(0.182 0.031 261.099);
}

@layer utilities {
    .last-breadcrumb {
        position: relative;
        display: flex;
        align-items: center;
    }
    .last-breadcrumb:before {
        content: "";
        margin-right: calc(0.25rem * 3);
        margin-left: calc(0.25rem * 2);
        display: block;
        height: calc(0.25rem * 1.5);
        width: calc(0.25rem * 1.5);
        opacity: 40%;
        rotate: 45deg;
        border-top: 1px solid;
        border-right: 1px solid;
        background-color: #0000;
    }
    [dir="rtl"] & + *:before {
        rotate: -135deg;
    }

  .link-external {
    &:not([href^="/"]):not([href^="#"])::after {
      content: "↗";
      @apply inline-block ml-0.5 text-[1em] align-super;
    }
  }

  .link-document {
    &[href^="/documents"]::before {
      content: "📄";
      @apply inline-block mr-0.5 text-[0.8em];
    }
  }

  .toc-container {
      counter-reset: toc-h2;
  }

  .toc-item-2 {
      counter-increment: toc-h2;
      counter-reset: toc-h3;
  }
  .toc-item-2::before {
      content: counter(toc-h2, upper-roman) ". ";
      @apply opacity-70;
  }

  .toc-item-3 {
      counter-increment: toc-h3;
      counter-reset: toc-h4;
  }
  .toc-item-3::before {
      content: counter(toc-h3, decimal) ". ";
      @apply opacity-70;
  }

  .toc-item-4 {
      counter-increment: toc-h4;
  }
  .toc-item-4::before {
      content: counter(toc-h4, lower-alpha) ". ";
      @apply opacity-70;
  }
}

@layer components {
  .page-content {
    h2 {
      @apply mt-8 mb-4 text-2xl font-bold scroll-mt-20;
    }

    h3 {
      @apply mt-6 mb-3 text-xl font-semibold scroll-mt-20;
    }

    h4 {
      @apply mt-4 mb-2 text-lg font-semibold scroll-mt-20;
    }

    p {
      @apply mb-4 leading-7 text-justify;
    }

    ul {
      @apply mb-4 pl-6 list-disc;
    }

    ol {
      @apply mb-4 pl-6 list-decimal;
    }

    ol ol {
      @apply list-[lower-alpha];
    }

    ol ol ol {
      @apply list-[lower-roman];
    }

    ol ol ol ol {
      @apply list-decimal;
    }

    ol ol ol ol ol {
      @apply list-[lower-alpha];
    }

    li {
      @apply mb-2;

    }

    a {
      @apply link text-primary hover:text-secondary transition-colors duration-200;

      &:not([href^="/"]):not([href^="#"])::after {
        content: "↗";
        @apply inline-block ml-0.5 text-[1em] opacity-70 align-super;
      }

      &[href^="/documents"]::before {
        content: "📄";
        @apply inline-block mr-0.5 text-[0.8em] opacity-100;
      }
    }

    blockquote {
      @apply border-l-4 border-primary pl-4 italic my-8;
    }
  }

  form a::after {
    content: none !important;
  }

  /* Force wrapping in forms texts */
  form .label-text-alt,
  form label {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

}
